<% layout("/layouts/admin") %>

<div class="container mt-4">

<h2>All Bookings</h2>

<table class="table table-bordered table-hover">

<thead>

<tr>
<th>User</th>
<th>Listing</th>
<th>Check In</th>
<th>Check Out</th>
<th>Guests</th>
<th>Total Price</th>
<th>Status</th>
</tr>

</thead>

<tbody>

<% bookings.forEach(booking => { %>

<tr>

<td><%= booking.user.username %></td>

<td><%= booking.listing.title %></td>

<td><%= booking.checkIn.toDateString() %></td>

<td><%= booking.checkOut.toDateString() %></td>

<td><%= booking.guests %></td>

<td>₹<%= booking.totalPrice %></td>

<td>
    <% if(booking.status==="Confirmed"){ %>
        <span class="badge bg-success">Confirmed</span>
    <% } else { %>
        <span class="badge bg-danger">Cancelled</span>
    <% } %>
</td>

</tr>

<% }) %>

</tbody>

</table>

</div>