<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

        <h3><%= listing.title %></h3>

        <div class="card col-6 offset-3 show-card listing-card">

            <img
                src="<%= listing.image.url %>"
                class="card-img-top show-img"
                alt="listing_image"
            >

            <div class="card-body">

                <p class="card-text">
                    <i>Owned By <%= listing.owner.username %></i>
                </p>

                <p class="card-text">
                    <%= listing.description %>
                </p>

                <p class="card-text">
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                </p>

                <p class="card-text">
                    <%= listing.location %>,
                    <%= listing.country %>
                </p>

                <% if(currUser && listing.owner._id.equals(currUser._id)) { %>

                    <a
                        href="/listings/<%= listing._id %>/edit"
                        class="btn btn-dark"
                    >
                        Edit
                    </a>

                    <form
                        method="POST"
                        action="/listings/<%= listing._id %>?_method=DELETE"
                        class="d-inline"
                    >
                        <button class="btn btn-dark">
                            Delete
                        </button>
                    </form>

                <% } %>

                <% if(currUser){ %>

                    <form
                        method="POST"
                        action="/wishlist/<%= listing._id %>"
                        class="d-inline ms-2"
                    >
                    
                        <% if(isWishlisted){ %>
                    
                            <button class="btn btn-danger">
                                ❤️ Wishlisted
                            </button>
                    
                        <% } else { %>
                    
                            <button class="btn btn-outline-danger">
                                🤍 Wishlist
                            </button>
                    
                        <% } %>
                    
                    </form>
                    
                    <% } %>

                    <% if(currUser){ %>

                        <hr>

                        
                        <h4>Book this Stay</h4>
                        <script>
                            const bookedDates = <%- JSON.stringify(bookings) %>;
                            </script>
                       
                       <form
                         id="booking-form"
                        action="/listings/<%= listing._id %>/bookings"
                        method="POST"
                            >
                        
                            <div class="mb-3">
                        
                                <label class="form-label">
                                    Check-In
                                </label>
                        
                                <input
                                    type="text"
                                    name="checkIn"
                                    id="checkIn"
                                    class="form-control"
                                    required
                                >
                        
                            </div>
                        
                            <div class="mb-3">
                        
                                <label class="form-label">
                                    Check-Out
                                </label>
                        
                                <input
                                    type="text"
                                    name="checkOut"
                                    
                                    id="checkOut"
                                    class="form-control"
                                    required
                                >
                        
                            </div>
                        
                            <div class="mb-3">
                        
                                <label class="form-label">
                                    Guests
                                </label>
                        
                                <input
                                    type="number"
                                    name="guests"
                                    min="1"
                                    value="1"
                                    class="form-control"
                                >
                        
                            </div>
                            <input
                            type="hidden"
                            id="listingId"
                            value="<%= listing._id %>"
                        >
                        <input
                        type="hidden"
                        id="pricePerNight"
                        value="<%= listing.price %>"
                    >
                             
                        
                            <button
                            type="button"
                            id="pay-btn"
                            class="btn btn-danger"
                        >
                            Pay & Book
                        </button>
                        
                        </form>
                        
                        <hr>
                        
                        <% } %>

            </div>
        </div>
    </div>
</div>


<div id="map"></div>

<!-- Review Form -->

<% if(currUser){ %>

<div class="row mt-5">

    <div class="col-8 offset-2">

        <hr>

        <h4>Leave a Review</h4>

        <form
            method="POST"
            action="/listings/<%= listing._id %>/reviews"
            novalidate
            class="needs-validation"
        >

            <fieldset class="starability-slot">

                <legend>Rating</legend>

                <input type="radio" id="rate1" name="review[rating]" value="1" checked>
<label for="rate1" title="Poor">1 star</label>

<input type="radio" id="rate2" name="review[rating]" value="2">
<label for="rate2" title="Fair">2 stars</label>

<input type="radio" id="rate3" name="review[rating]" value="3">
<label for="rate3" title="Average">3 stars</label>

<input type="radio" id="rate4" name="review[rating]" value="4">
<label for="rate4" title="Very Good">4 stars</label>

<input type="radio" id="rate5" name="review[rating]" value="5">
<label for="rate5" title="Amazing">5 stars</label>

                <span class="starability-focus-ring"></span>

            </fieldset>

            <br>

            <div class="mb-3">

                <label for="comment" class="form-label">
                    Comments
                </label>

                <textarea
                    name="review[comment]"
                    id="comment"
                    cols="30"
                    rows="5"
                    class="form-control"
                    required
                ></textarea>

                <div class="invalid-feedback">
                    Please add some comments.
                </div>

            </div>

            <button class="btn btn-outline-dark">
                Submit
            </button>

        </form>

        <hr>

    </div>

</div>

<% } %>

<!-- Reviews -->

<div class="row">

    <div class="col-8 offset-2">

        <h4>All Reviews</h4>

        <div class="row">

            <% for(let review of listing.reviews){ %>

            <div class="card col-5 ms-3 mb-3 review-card">

                <div class="card-body">

                    <h5 class="card-title">
                        @<%= review.author.username %>
                    </h5>

                    <p
                        class="starability-result"
                        data-rating="<%= review.rating %>"
                    >
                        Rated:
                        <%= review.rating %>
                    </p>

                    <p class="card-text">
                        <%= review.comment %>
                    </p>

                    <% if(currUser &&
                    review.author._id.equals(currUser._id)){ %>

                    <form
                        method="POST"
                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                    >

                        <button
                            class="btn btn-sm btn-dark"
                        >
                            Delete
                        </button>

                    </form>

                    <% } %>

                </div>

            </div>

            <% } %>

        </div>

    </div>

</div>

<script>
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    const listingTitle = "<%= listing.title %>";
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/js/payment.js"></script>

